* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font: 'Noto Sans HK', sans-serif;
  --fontDecorative: 'Staatliches', cursive;
  --faded-yellow: #fff9df;
  --faded: #AFAFAF;
  --light: #E3E3E3;
  --black: #000;
  --gold: #f7c500;
  --faded-gold: #f7c596;
  --big: 1.3rem;
  --med: 1.1rem;
  --small: .8rem;
}

.standard-wrapper {
  padding: 50px;
}

.invisible-link {
  text-decoration: none;
}

.input {
  border: 1px solid black;
  font-size: var(--med);
  margin: 15px 0;
  padding: 15px;
}

.btn {
  background-color: var(--gold);
  cursor: pointer;
  font-family: var(--font);
  font-size: var(--med);
  padding: 15px;
}

.posts-cont {
  padding: 0 50px 50px 50px;
}

.post {
  align-content: space-between;
  box-shadow: 0 1px 4px -4px black;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  justify-content: space-between;
  min-height: 150px;
  padding: 35px 15px;
  width: 100%;
}

.post__title {
  font-size: var(--big);
  margin: 0 0 15px -1px;
  text-transform: uppercase;
}

.post__desc {
  color: var(--black);
  font-weight: lighter;
  margin: 0 0 25px 0;
}

.post__date {
  color: var(--faded);
  font-size: var(--small);
  font-weight: lighter;
  margin: 0 20px 0 0;
}

.post__link {
  background-color: var(--gold);
  color: var(--black);
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  transition: .2s all ease-in;
  width: 100px;
}

.post__link:hover {
  background-color: var(--faded-gold);
  transition: .1s all ease-in;
}

.post__btm {
  align-items: center;
  display: flex;
}

.create {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.create__label {
  margin: -12px 0 0 0;
}

.nav {
  align-items: center;
  display: flex;
  font-family: var(--font);
  justify-content: space-between;
  padding: 20px;
}

.nav__title {
  color: var(--black);
  font-family: var(--fontDecorative);
  font-size: 2.5rem;
  text-decoration: none;
}

.nav__list {
  display: flex;
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  color: var(--black);
  font-family: var(--fontDecorative);
  margin: 0 15px;
  padding: 15px;
  text-decoration: none;
  transition: .2s all ease-in;
}

.nav__link:hover {
  background-color: var(--light);
  box-shadow: inset 0px 1px 3px -2px black;
  transition: .2s all ease-in;
}

.generic__section-header {
  font-family: var(--font);
}