* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font: 'Noto Sans HK', sans-serif;
  --fontDecorative: 'Staatliches', sans-serif;
  --faded-yellow: #fff9df;
  --faded: #AFAFAF;
  --light: #E3E3E3;
  --dark: #3D3D3D;
  --white: #FFFFFF;
  --copy: #3e3e3e;
  --black: #000;
  --gold: #f7c500;
  --faded-gold: #f7c596;
  --extra-big: 4.5rem;
  --big: 1.7rem;
  --med: 1.1rem;
  --small: .8rem;
}

main {
  min-height: 95vh;
}

.generic__standard-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 120px;
}

.generic__standard-wrapper--vert {
  padding: 20px 0;
}

.generic__invisible-link {
  text-decoration: none;
}

.generic__section-header {
  font-family: var(--font);
}

.generic__input {
  border: 1px solid black;
  font-size: var(--med);
  margin: 15px 0;
  padding: 15px;
}

.generic__btn {
  background-color: var(--gold);
  cursor: pointer;
  font-family: var(--font);
  font-size: var(--med);
  padding: 15px;
  text-transform: uppercase;
  transition: .1s all ease-in;
}

.generic__btn:hover {
  background-color: var(--faded-gold);
  transition: .1s all ease-in;
}

.generic__link {
  background-color: var(--gold);
  color: var(--black);
  font-family: var(--font);
  font-size: var(--small);
  font-weight: normal;
  letter-spacing: 1.5px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .2s all ease-in;
  min-width: 100px;
}

.generic__link:hover {
  background-color: var(--faded-gold);
  transition: .1s all ease-in;
}

.generic__hr {
  background-color: var(--gold);
  height: 1px;
  margin: 10px 0;
  width: 100%;
}

.generic__text-link {
  border-bottom: 2px solid var(--gold);
  color: var(--black);
  cursor: pointer;
  font-family: var(--font);
  font-weight: bolder;
  padding: 2px 5px;
  text-decoration: none;
  transition: all .2s ease-out;
}

.generic__text-link:hover {
  background-color: var(--gold);
  transition: all .2s ease-out;
}

.generic__emoji {
  margin-right: -4px;
}

.placeholder {
  height: 90vh;
  width: 100%;
}

.posts-cont {
  padding: 0 50px 50px 50px;
  margin: 0 auto;
  max-width: 1200px;
}

.post {
  align-content: space-between;
  animation: fadeIn .25s forwards;
  box-shadow: 0 1px 4px -4px black;
  display: flex;
  font-family: var(--font);
  min-height: 150px;
  padding: 35px 15px;
  width: 100%;
}

.post__title {
  font-size: var(--big);
  margin: 0 0 15px -1px;
  text-transform: uppercase;
}

.post__desc {
  color: var(--black);
  font-weight: lighter;
  margin: 0 0 25px 0;
}

.post__date {
  color: var(--faded);
  font-size: var(--small);
  font-weight: lighter;
  margin: 0 20px 0 0;
}

.post__out-link {
  display: inline-block;
  margin: 0 0 0 10px;
}

.post__btm {
  align-items: center;
  display: flex;
}

.post__img-cont {
  margin: 0 50px 0 0;
}

.post__img {
  animation: fadeIn .13s ease-in-out forwards;
  border: 1px solid var(--faded-gold);
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  width: 150px;
}

.post__date-break {
  display: none;
}

.create {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.create__label {
  color: var(--faded);
  font-family: var(--font);
  font-size: var(--small);
  font-weight: lighter;
  margin: -12px 0 0 0;
}

.create__label--viz {
  color: var(--black);
  margin: -34px 15px 30px 0;
  padding: 0 0 0 20px;
}

.nav {
  align-items: center;
  display: flex;
  font-family: var(--font);
  justify-content: space-between;
  padding: 20px;
}

.nav__right {
  align-items: center;
  display: flex;
}

.nav__title {
  color: var(--black);
  font-family: var(--fontDecorative);
  font-size: 2.5rem;
  text-decoration: none;
}

.nav__list {
  display: flex;
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  color: var(--black);
  font-family: var(--fontDecorative);
  margin: 0 15px;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  transition: .2s all ease-in;
}

.nav__link:hover {
  background-color: var(--light);
  box-shadow: inset 0px 1px 3px -2px black;
  transition: .2s all ease-in;
}

@keyframes moveToast {
  from{top: 0;}
  to{top: -30%}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.toast {
  animation: moveToast .5s 3s ease-in forwards;
  font-family: var(--font);
  padding: 15px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;;
}

.toast--error {
  background-color: #ffb79e;
  color: #b71b00; 
}

.toast--success {
  background-color: #aaffbe;
  color: #009322; 
}

.toast__x {
  cursor: pointer;
  font-size: var(--med);
  margin: 0 15px;
}

.toast__x--error {
  color: #b71b00; 
}

.toast__x--success {
  color: #009322; 
}

.toast__x:hover {
  color: black;
}

.full-post {
  animation: fadeIn 1s forwards;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
}

.full-post__header-zone {
  align-items: center;
  display: flex;
}

.full-post__header {
  display: block;
  font-family: var(--font);
  font-size: var(--extra-big);
  margin: 10px 0 20px -6px;
  text-transform: uppercase;
}

.full-post__tag-zone {
  margin: 0;
}

.full-post__top {
  display: flex;
  justify-content: space-between;
}

.full-post__links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px 0 15px 0;
}

.full-post__desc {
  color: var(--black);
  font-family: var(--font);
  font-size: var(--med);
  font-weight: lighter;
}

.full-post__tag {
  background-color: var(--faded-yellow);
  color: var(--dark);
  display: inline-block;
  font-family: var(--font);
  font-size: var(--small);
  font-weight: normal;
  letter-spacing: 1.5px;
  margin: 0 10px 0 0;
  padding: 5px;
  text-transform: uppercase;
}

.full-post__importants {
  margin: 0 50px 0 0;
  width: 100%;
}

.full-post__source {
  flex-direction: column;
  font-size: var(--small);
  font-weight: normal;
  margin: 0 0 0 50px;
  text-align: center;
  text-transform: uppercase;
}

.full-post__source-name {
  font-weight: bold;
  letter-spacing: 3px;
  margin: 1px 0 0 0;
  padding: 4px;
}

.full-post__content {
  margin: 0 0 0 0;
}

.full-post__date {
  color: var(--faded);
  font-family: var(--font);
  font-size: var(--smaller);
  font-weight: lighter;
}

.full-post__img {
  border-top: 1px solid var(--faded-gold);
  max-height: 250px;
  object-fit: cover;
  object-position: center;
  padding: 10px 0 0 0;
  width: 350px;
}

.full-post__take {
  margin: 50px 0 15px 0;
  max-width: 800px;
}

.full-post__take-header {
  border-left: 2px solid var(--gold);
  font-family: var(--font);
  font-weight: normal;
  padding: 0 0 0 15px;
  text-transform: uppercase;
}

.full-post__take-text {
  color: var(--copy);
  font-family: var(--font);
  line-height: 1.7;
  margin: 15px 0 0 20px;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 100px auto 0 auto;
  max-width: 600px;
  width: 40%;
}

.login__input {
  font-weight: lighter;
  text-align: center;
}

.login__text {
  color: var(--dark);
  font-size: var(--med);
  font-family: var(--font);
  margin: 0 0 50px 0;
  text-align: center;
}

.login__text--sub {
  color: var(--faded);
  font-size: var(--small);
  font-weight: lighter;
  margin: 150px auto 0 auto;
  padding: 0 0 100px 0;
}

.login__btn {
  margin: 15px 0 0 0;
}

.searchbar {
  align-items: center;
  background-color: #FFF;
  display: flex;
  margin: 6px 15px 0px 0;
  padding: 9px;
  position: relative;
  transition: all .2s ease-in;
}

.searchbar__results {
  background-color: #fff;
  box-shadow: 0px 2px 9px -5px black;
  display: none;
  left: 50%;
  min-width: 230px;
  position: absolute;
  top: 100%;
}

.searchbar__result {
  align-items: center;
  color: var(--dark);
  cursor: pointer;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 4px 5px;
  text-decoration: none;
  transition: all .14s ease-in;
}

.searchbar__result:hover{
  background-color: #f1f1f1;
  transition: all .15s ease-in;
}

.searchbar__result-img {
  border-left: 1px solid var(--gold);
  height: 50px;
  margin-left: 10px;
  object-fit: cover;
  object-position: center;
  width: 60px;
}

.searchbar__result-text {
  color: var(--dark);
  font-weight: lighter;
  text-decoration: none;
}

.searchbar__container {
  display: inline-block;
	height: 50px;
  margin: 4px 2px;
  margin-right: -20px;
	position: relative;
	width: 50px;
	vertical-align: bottom;
}

.searchbar__mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbar__icon {
	font-size: 25px;
	position: absolute;
	width: 100%;
  margin: 0;
  margin-top: 3px;
	padding: 0;
}

.searchbar__input:focus + .searchbar__icon {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.searchbar__input {
  background-color: white;
	border: none;
  font-family: var(--font);
  font-size: var(--med);
	height: 100%;
  left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	outline: none;
	padding: 5px;
	position: absolute;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	width: 0;
	z-index: 10;
}

.searchbar__input:hover {
  padding: 0;
}

.searchbar__input:focus {
	padding: 0 16px 0 0;
	width: 200px; /* Bar width+1px */
}

.searchbar__expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.searchbar__expandright:focus {
	padding: 0 0 0 16px;
}

.footer {
  background-color: var(--black);
  font-family: var(--font);
  margin-top: 100px;
}

.footer__copywrite {
  color: var(--faded);
  font-size: var(--small);
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
}

.footer__love {
  color: var(--faded);
  font-size: var(--small);
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 2px;
}

.footer__love-link {
  color: var(--white);
  font-weight: lighter;
  padding: 2px 0;
}

.footer__love-link:hover {
  color: var(--black);
}

.footer__socials {
  background-color: #151515;
  color: var(--white);
  font-size: var(--small);
  font-weight: lighter;
  text-transform: uppercase;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.quicksaver {
  display: flex;
  flex-direction: column;
}

.quicksaver__header {
  font-family: var(--font);
  font-size: var(--extra-big);
  margin: 50px auto;
  text-align: center;
}

.quicksaver__url {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.quicksaver__btn {
  color: var(--black);
  margin: 50px auto;
  text-decoration: none;
}

.quicklink {
  box-shadow: 0 1px 4px -4px black;
  margin: 0px 0 25px 0;
  padding: 25px 0;
}

.quicklink__date {
  font-family: var(--font);
  font-weight: lighter;
  margin: 25px 0 0 0;
}

.quicklink__link {
  font-weight: normal;
  word-break: break-all;
}

.quicklink__header {
  border-left: 2px solid var(--gold);
  font-family: var(--font);
  font-size: 2.5rem;
  margin: 0 0 25px 0;
  padding: 0 0 0 15px;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  :root {
    --extra-big: 1.9rem;
    --big: 1.4rem;
    --med: 1.05rem;
    --small: .9rem;
    --tiny: .7rem;
  }

  .generic__standard-wrapper {
    padding: 10px 20px;
  }

  .nav {
    flex-direction: column;
    padding: 10px;
  }

  .nav__right {
    border-bottom: 1px solid var(--gold);
    justify-content: center;
    margin-top: -15px;
    width: 90%;
  }

  .nav__link {
    margin: 0 15px;
  }

  .nav__link:hover {
    background-color: var(--white);
    box-shadow: none;
  }

  .searchbar {
    margin: 6px 0 0 0;
  }

  .searchbar__container {
    margin-right: 0px;
  }

  .posts-cont {
    padding: 10px 0;
  }

  .post {
    flex-direction: column;
    padding: 25px 15px;
  }
  
  .post__title {
    font-size: var(--extra-big);
    margin-bottom: 5px; 
    text-align: center;
  }

  .post__desc {
    margin-bottom: 10px;
    text-align: center;
  }

  .post__content-cont {
    margin: 20px 0 0 0;
  }

  .post__img-cont {
    margin: 10px auto;
  }

  .post__img {
    max-height: 100px;
  }

  .post__date-break {
    display: none;
  }

  .post__date {
    margin: 15px 0;
  }

  .post__btm {
    flex-direction: column;
  }

  .full-post__top {
    margin: 15px 0;
    flex-direction: column;
  }

  .full-post__importants {
    margin: 0;
  }

  .full-post__header {
    font-size: var(--extra-big);
    margin: 0 auto 10px auto;
    text-align: center;
  }

  .full-post__desc {
    margin: 5px 0 15px 0;
    text-align: center;
  }

  .full-post__links {
    align-items: unset;
    flex-direction: column;
    margin: 30px 0 15px 0;
  }

  .full-post__outlinks {
    display: flex;
    justify-content: space-evenly;
  }

  .full-post__tag-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto 15px auto;
  }

  .full-post__tag {
    font-size: var(--tiny);
    margin-top: 10px;
  }

  .full-post__img {
    width: 100%;
  }

  .login {
    margin: 15px auto;
    width: 80%;
  }

  .login__text {
    margin-top: 50px;
  }

  .footer__copy {
    padding: 50px 20px;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__love {
    margin-top: 25px;
  }
}
